.homeText {
    margin-bottom: 35px;
}
.shadowDiv h1  {
    font-size: 50px;
    font-weight: 300;
}
.shadowDiv h1 span {
    font-weight: 600;
    font-size: 63px;
    display: block;
    margin-top: 18px;
}
h2 {
		font-size: 35px!important;
		font-weight: 100!important;
		font-family: 'Roboto', sans-serif!important;
		margin-top: 90px!important;
}
h3 {
    font-weight: 400!important;
    font-family: 'Roboto', sans-serif!important;
    /* color: #003571; */
}
h4 {
    font-weight: 300!important;
    font-family: 'Roboto', sans-serif!important;
}
.employersH4 {
    color: #0751a9;
}
.employers {
    color: #003571;
}
p {
    color: #b0b0b0;
    font-size: 15px;
}
.flatDiv {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.flatBack {
    width: 260px;
    height: 340px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 80px;
}
.flatBack h3 {
	font-family: 'Roboto', sans-serif!important;
	font-weight: 400;
	font-size: 18px;
}
.partners {
    margin-bottom: 80px;
}
.partnersH2, .corporate {
    margin-top: 35px!important;
}
.slick-arrow::before, .slick-prev::before{
    color: #003571!important;
    font-size: 42px!important;
}
.slick-arrow, .slick-prev{
    height: 29px!important;
}
.slick-prev {
    left: -85px!important;
}
.slick-arrow {
    right: -85px!important;
}
.counterGrid p:nth-of-type(1) {
    color: white;
    font-size: 45px;
}
.counterGrid p {
    font-size: 20px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    .shadowDiv h1  {
        font-size: 30px;
    }
    .shadowDiv h1 span {
        font-size: 43px;
        margin-top: 18px;
    }
    h2 {
		font-size: 25px!important;
		margin-top: 50px!important;
    }
    .slick-prev {
        left: -45px!important;
    }
    .slick-arrow {
        right: -25px!important;
    }
    .counterGrid p:nth-of-type(1) {
        font-size: 25px;
    }
    .counterGrid p {
        font-size: 15px;
    }
}
