.rotated {
  font-size: 130px !important;
  font-weight: 900 !important;
  letter-spacing: 17px;
  transform: skewY(-10deg); }

.rotated div {
  font-size: 50px !important;
  margin-top: -70px;
  letter-spacing: 8px; }
